@tailwind base;
@tailwind components;
@tailwind utilities;

main form input:focus + label,
main form input:valid + label,
main form input:invalid + label {
  display: block;
  opacity: 100%;
  transform: translateY(0);
  scale: 90%;
}

main form input:valid + label {
  color: rgb(34 197 94);
}

main form input:invalid + label {
  color: rgb(239 68 68);
}

.form-input:placeholder-shown:valid {
  outline-color: rgb(34 197 94);
}

.form-input:placeholder-shown:invalid {
  outline-color: rgb(239 68 68);
}

